<!DOCTYPE html>
<html>
<head>
    <title>Rafael's Collectibles Market</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

<h1>Live Collectibles Market</h1>
<div id="updates"></div>

<script src="/script.js"></script>
</body>
</html>
